<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.verdictRuleJudgeCriteria.mapper.BizVerdictRuleJudgeCriteriaMapper">

    <resultMap type="com.ruoyi.app.verdictRuleJudgeCriteria.domain.BizVerdictRuleJudgeCriteria" id="BizVerdictRuleJudgeCriteriaResult">
        <result property="id" column="id"/>
        <result property="verdictTypeId" column="verdict_type_id"/>
        <result property="stage" column="stage"/>
        <result property="formula" column="formula"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>
    <delete id="physicalDeleteById">
                DELETE FROM biz_verdict_rule_judge_criteria WHERE verdict_type_id = #{verdictTypeId}
     </delete>
</mapper>
